<h1>Pssword Generator</h1>

<div>
  <label >Enter length</label>
   <input (input)="onChangeLength($event.target.value)">
</div>

<div>
  <label>Use letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox">
</div>
<div>
  <label >Use Numbers</label>
  <input (change)="onChangeUseNUmbers()" type="checkbox">
</div>
<div>
  <label >Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox">
</div>
<div>
  <button [disabled]="!length" (click)="onButtonClick()">Generate Password</button>//event binding
</div>
<div>
  <label>Your password</label>
  <input [value]="password" type="text"> 
  <!-- /*property binding [attribute]="method or property"*/ {{interpolation syntax}}-->
</div>
